/*
 * User-editable CAAStools BIS and SLURM configuration.
 */

params {
    // Same alignment collection used by the existing discovery/bootstrap runs.
    // On the cluster this ignored directory can contain the complete gene set.
    alignments = "${projectDir}/../lq.table2.nextflow/inputs/alignments/*.phy"

    caas_config_glob = "${projectDir}/configs/*.caas.cfg"
    results_root = "${projectDir}/results"
    caastools_dir = "${projectDir}/../lq.table2.nextflow/bin/caastools"
    merge_script = "${projectDir}/scripts/merge_and_filter_caas.py"
    python_command = 'python3'

    // Same CAAStools discovery defaults used by the other run.
    caas_alignment_format = 'phylip-relaxed'
    caas_patterns = '1,2,3'
    caas_max_bg_gaps = 'NO'
    caas_max_fg_gaps = 'NO'
    caas_max_gaps = 'NO'
    caas_max_gaps_per_position = '0.5'
    caas_max_bg_miss = 'NO'
    caas_max_fg_miss = 'NO'
    caas_max_miss = 'NO'

    // Raw hypergeometric CAAStools p-value cutoff, inclusive.
    significance_threshold = 0.05

    // SLURM routing. Empty strings omit the corresponding option.
    slurm_partition = 'std-cpu'
    slurm_account = ''
    slurm_qos = ''
    slurm_constraint = ''

    // Correfoc Miniconda installation and the environment created by
    // create_conda_environment.sh.
    conda_init_script = '/homes/aplic/noarch/software/Miniconda3/23.9.0-0/etc/profile.d/conda.sh'
    conda_environment = 'genphen-caas-bis'
    caas_before_script = ''
}

process {
    executor = 'slurm'
    queue = params.slurm_partition ?: null
    clusterOptions = (params.slurm_account ? "--account=${params.slurm_account} " : '') +
                     (params.slurm_qos ? "--qos=${params.slurm_qos} " : '') +
                     (params.slurm_constraint ? "--constraint=${params.slurm_constraint}" : '')

    withName: CAASTOOLS_DISCOVERY {
        cpus = 1
        memory = '2 GB'
        // Long-running genes are skipped after ten minutes; ignored failures
        // do not stop the remaining jobs or the downstream merge.
        time = '10m'
        errorStrategy = 'ignore'
        maxRetries = 0
        beforeScript = "source '${params.conda_init_script}'; conda activate '${params.conda_environment}'" +
                       (params.caas_before_script ? "; ${params.caas_before_script}" : '')
    }

    withName: MERGE_CONFIG_RESULTS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        beforeScript = "source '${params.conda_init_script}'; conda activate '${params.conda_environment}'"
    }

    withName: MERGE_AND_FILTER_RESULTS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        beforeScript = "source '${params.conda_init_script}'; conda activate '${params.conda_environment}'"
    }
}

executor {
    queueSize = 100
    submitRateLimit = '10 sec'
}

workDir = "${projectDir}/work"
