params {
    run_id = null

    alignments = null
    pooled_trait_config = "${projectDir}/inputs/longevity.full-pools.caas.cfg"
    pooled_fg_size = 4
    pooled_bg_size = 4
    pooled_comparisons = '100'
    pooled_seed = 260811

    results_root = "${projectDir}/results"
    caastools_dir = "${projectDir}/bin/caastools"
    python_command = 'python3'

    caas_alignment_format = 'phylip-relaxed'
    caas_filter_significant = '0.05'
    caas_patterns = '1,2,3'
    caas_max_bg_gaps = 'NO'
    caas_max_fg_gaps = 'NO'
    caas_max_gaps = 'NO'
    caas_max_gaps_per_position = '0.5'
    caas_max_bg_miss = 'NO'
    caas_max_fg_miss = 'NO'
    caas_max_miss = 'NO'
    caas_min_fg_observed = 3
    caas_min_bg_observed = 3
}

process {
    errorStrategy = 'terminate'
    maxRetries = 0
    shell = ['/bin/bash', '-euo', 'pipefail']
}

cleanup = false
