/*
 * User-editable analysis and SLURM configuration.
 * Replace every /ABSOLUTE/CLUSTER/PATH value before launching.
 */

params {
    // Choose which branches to run.
    run_caas = true
    run_rerconverge = true

    // Analysis inputs visible from every compute node.
    alignments = '/ABSOLUTE/CLUSTER/PATH/alignments/*.phy'
    rerconverge_trees = '/ABSOLUTE/CLUSTER/PATH/rerconverge_gene_trees.tsv'
    rerconverge_master_tree = '/ABSOLUTE/CLUSTER/PATH/master_tree.nw'

    // The bundled comparison configurations are used by default.
    caas_config_glob = "${projectDir}/../lq.table2.4species.comparisons/configurations/caas/*.caas.cfg"
    rerconverge_config_glob = "${projectDir}/../lq.table2.4species.comparisons/configurations/rerconverge/*.rerc.cfg"

    results_root = '/ABSOLUTE/CLUSTER/PATH/results'

    // Executables. The bundled copies work when their dependencies are loaded.
    caastools_dir = "${projectDir}/bin/caastools"
    rerconverge_script = "${projectDir}/bin/rerconverge/run_rerconverge.R"
    python_command = 'python3'
    rscript_command = 'Rscript'

    // CAAStools options.
    caas_alignment_format = 'phylip-relaxed'

    // RERconverge options.
    rer_clade = 'terminal'
    rer_transition = 'unidirectional'
    rer_weighted = false
    rer_transform = 'sqrt'
    rer_impute = true
    rer_min_trees = 2
    rer_max_trees = 0       // 0 = all gene trees
    rer_min_species = 10    // 4 FG + 6 fixed BG in these configs
    rer_min_valid = 1
    rer_min_foreground = 2
    rer_bootstrap = false
    rer_bootn = 1000

    // SLURM routing. Empty strings omit the corresponding option.
    slurm_partition = 'std-cpu'
    slurm_account = ''
    slurm_qos = ''
    slurm_constraint = ''

    // Conda initialization repeated inside every SLURM analysis task.
    conda_init_script = '/homes/aplic/noarch/software/Miniconda3/23.9.0-0/etc/profile.d/conda.sh'
    conda_environment = 'phyloq'

    // Optional additional commands executed after Conda activation.
    caas_before_script = ''
    rer_before_script = ''
}

process {
    executor = 'slurm'
    queue = params.slurm_partition ?: null
    clusterOptions = (params.slurm_account ? "--account=${params.slurm_account} " : '') +
                     (params.slurm_qos ? "--qos=${params.slurm_qos} " : '') +
                     (params.slurm_constraint ? "--constraint=${params.slurm_constraint}" : '')

    withName: CAASTOOLS_DISCOVERY {
        cpus = 1
        memory = '2 GB'
        time = '2h'
        beforeScript = "source '${params.conda_init_script}'; conda activate '${params.conda_environment}'" +
                       (params.caas_before_script ? "; ${params.caas_before_script}" : '')
    }

    withName: RERCONVERGE {
        cpus = 1
        memory = '16 GB'
        time = '12h'
        beforeScript = "source '${params.conda_init_script}'; conda activate '${params.conda_environment}'" +
                       (params.rer_before_script ? "; ${params.rer_before_script}" : '')
    }
}

executor {
    queueSize = 100
    submitRateLimit = '10 sec'
}

// Put workDir on a shared filesystem if the repository itself is not shared.
workDir = "${projectDir}/work"
