/*
 * User-editable CAAStools bootstrap and SLURM configuration.
 * RERconverge is intentionally absent from this workflow.
 */

params {
    // Reuse the alignment collection already managed by the discovery workflow.
    alignments = "${projectDir}/../lq.table2.nextflow/inputs/alignments/*.phy"

    // The 100 longevity comparisons are represented as bootstrap cycles.
    bootstrap_trait_config = "${projectDir}/inputs/longevity.template.001.caas.cfg"
    bootstrap_resampled_traits = "${projectDir}/inputs/longevity.100-comparisons.resampling.tsv"

    // Generated results remain outside Git through the workflow .gitignore.
    results_root = "${projectDir}/results"

    // Bundled CAAStools copy and interpreter.
    caastools_dir = "${projectDir}/bin/caastools"
    python_command = 'python3'

    // CAAStools bootstrap options.
    caas_alignment_format = 'phylip-relaxed'
    caas_filter_significant = '0.05'  // Set to 'no' to disable the hypergeometric filter.
    caas_patterns = '1,2,3'
    caas_max_bg_gaps = 'NO'
    caas_max_fg_gaps = 'NO'
    caas_max_gaps = 'NO'
    caas_max_gaps_per_position = '0.5'
    caas_max_bg_miss = 'NO'
    caas_max_fg_miss = 'NO'
    caas_max_miss = 'NO'

    // SLURM routing. Empty strings omit the corresponding option.
    slurm_partition = 'std-cpu'
    slurm_account = ''
    slurm_qos = ''
    slurm_constraint = ''

    // Conda initialization repeated inside every SLURM analysis task.
    conda_init_script = '/homes/aplic/noarch/software/Miniconda3/23.9.0-0/etc/profile.d/conda.sh'
    conda_environment = 'phyloq'

    // Optional additional command executed after Conda activation.
    caas_before_script = ''
}

process {
    executor = 'slurm'
    queue = params.slurm_partition ?: null
    clusterOptions = (params.slurm_account ? "--account=${params.slurm_account} " : '') +
                     (params.slurm_qos ? "--qos=${params.slurm_qos} " : '') +
                     (params.slurm_constraint ? "--constraint=${params.slurm_constraint}" : '')

    withName: CAASTOOLS_BOOTSTRAP {
        cpus = 1
        memory = '2 GB'
        time = '2h'
        beforeScript = "source '${params.conda_init_script}'; conda activate '${params.conda_environment}'" +
                       (params.caas_before_script ? "; ${params.caas_before_script}" : '')
    }
}

executor {
    queueSize = 100
    submitRateLimit = '10 sec'
}

workDir = "${projectDir}/work"
