params {
    run_id = null

    run_caas = true
    run_rerconverge = true

    alignments = null
    caas_config_glob = "${projectDir}/../lq.table2.4species.comparisons/configurations/caas/*.caas.cfg"
    rerconverge_config_glob = "${projectDir}/../lq.table2.4species.comparisons/configurations/rerconverge/*.rerc.cfg"
    rerconverge_trees = null
    rerconverge_master_tree = null

    results_root = "${projectDir}/results"
    caastools_dir = "${projectDir}/bin/caastools"
    rerconverge_script = "${projectDir}/bin/rerconverge/run_rerconverge.R"

    python_command = 'python3'
    rscript_command = 'Rscript'
    caas_alignment_format = 'phylip-relaxed'

    rer_clade = 'terminal'
    rer_transition = 'unidirectional'
    rer_weighted = false
    rer_transform = 'sqrt'
    rer_impute = true
    rer_min_trees = 2
    rer_max_trees = 0
    rer_min_species = 10
    rer_min_valid = 1
    rer_min_foreground = 2
    rer_bootstrap = false
    rer_bootn = 1000
}

process {
    errorStrategy = 'terminate'
    maxRetries = 0
    shell = ['/bin/bash', '-euo', 'pipefail']
}

cleanup = false
